<h1> Todo List </h1>

  <h3> To do </h3>
    <% @todos.each do |t| %>
        <div>
        <p><strong><%= t.name %></strong><small> | <%= link_to "Done", todo_path(t), method: :delete %></small></p>
        </div>
    <% end %>


      <br/>

      <div>
        <h5>Add item to list</h5>
          <%= form_for @todo, url: todo_index_path(@todo) do |f| %>
          <%= f.label :name %>: <%= f.text_field :name, autofocus: true %>
          <%= f.hidden_field :done, value: false %>
          <%= f.submit "Add to list" %>
          <% end %>
      </div>


      


        
       