<h1> Todo List </h1>

<table class="table table-bordered table-hover">        
  <thead>
    <tr>  
      <th>Description</th>  
      <th>Time Left</th>  
      <th>Completed?</th>  
    </tr>
  </thead>  
  <tbody>
    <% @todos.each do |todo| %> 
      <tr>
        <td><%= todo.name %></td> 
        <td><%= todo.days_left %></td> 
        <td><%= link_to "Done", todo_path(todo), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>  

    <div>
      <h3>Add item to list</h3>
        <%= form_for @todo, url: todo_index_path(@todo) do |f| %>
        <%= f.label :name %>: <%= f.text_field :name, autofocus: true %>
        <%= f.hidden_field :done, value: false %>
        <%= f.submit "Add to list" %>
        <% end %>
    </div>
